*{
    margin: 0;
    padding: 0;
}

/*menu box*/
.text-pic{
    position: relative;
}

/*menu box*/
.opskrift-nav{
    position: absolute;
    
    bottom: -60px;
    height: 120px;

    background-color: #005aff;
    
    width: 800px;
    
    
    display: flex;
    justify-content: space-evenly


}

/*text i menu box*/
.opskrift-nav a{
    font-size: 18pt;
    font-family: 'Inter';
    font-weight: 400;
    text-decoration: none;
    color: white;


    position: relative;
    top: 45px;


}

/*menu box center*/
.text-pic{
    display: flex;
    justify-content: center;
}



.s-overskrift{
    margin-top: 140px;

    text-align: center;
    font-family: 'Inter';
    font-size: 18pt;
}

.pic-in-box{
    background-color: rgb(227, 227, 227);
    height: 500px;
    margin-top: 70px;

    display: flex;
}

.box-text {
    width: 560px;
    margin-top: 50px;
    padding-right: 20px;
}

.macros{
    background-color: rgb(206, 215, 255);
    width: 545px;
    padding: 25px 30px 10px 30px;
    margin-top: 157px;
    display: flex;
    justify-content: space-evenly;
}


.pic-in-box img{
    margin-top: 50px;
    margin-left: 20px;
}





.pic-in-box-left{
    background-color: rgb(227, 227, 227);
    height: 500px;
    margin-top: 70px;

    display: flex;
}


.pic-in-box-left img{
    margin-top: 50px;
    margin-left: 80px;
}



