*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(255, 255, 255);

    width: 90%;
    height: 60px;

    display: flex;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;

    box-shadow: 0px 0px 5px 1px;

    position: fixed;
    top: 0;
}

header img{
    width: 130px;
    margin-top: -10px;
}

header nav{
    display:flex;
    width: 89%;
    justify-content: right;
}


header nav a{
    text-decoration: none;
    color: #103fb8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin-left: 50px;
    margin-top: 10px;

}

main{
    margin-top: 81px;
}


.banner img{
    width: 100%;
    margin-bottom: -4px;
    
}


.to-box{
    height: 400px;
    display: flex;

    /*100% = 1 px for bred, side scroll*/
    width: 1425px;
}

.to-box:hover{
    cursor: pointer;
    opacity: 60%;
    transition: .3s;
}

.box-et{
    background-color: #ced7ff;
    width: 50%;

}

.box-text{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 70px;
}

.box-text h2{
    margin-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 30pt;
}

.box-text p{
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    line-height: 30px;
}

.box-to{
    width: 50%;
    
}


