*{
    margin: 0;
    padding: 0;
}

/*menu box*/
.text-pic{
    position: relative;
}

/*menu box*/
.opskrift-nav{
    position: absolute;
    
    bottom: -60px;
    height: 120px;

    background-color: #005aff;
    
    width: 800px;
    
    
    display: flex;
    justify-content: space-evenly


}

/*text i menu box*/
.opskrift-nav a{
    font-size: 18pt;
    font-family: 'Inter';
    font-weight: 400;
    text-decoration: none;
    color: white;


    position: relative;
    top: 45px;
}



.opskrift-nav a{
    display: inline-block;
    position: relative;
    color: white;
  }
  
.opskrift-nav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 70px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.opskrift-nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



  /*menu box center*/
.text-pic{
    display: flex;
    justify-content: center;
}


.banner-text{
    padding: 30px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px;
    text-align: center;

    font-family: 'Inter';
    font-size: 30pt;
    font-weight: 400;
    

    position: relative;
    left: 550px;
    bottom: 250px;
}



.s-overskrift{
    margin-top: 20px;
    margin-bottom: -20px;

    text-align: center;
    font-family: 'Inter';
    font-size: 18pt;


}

.s-overskrift h1{
    font-weight: 400;
}

.pic-in-box{
    background-color: rgb(227, 227, 227);
    height: 500px;
    margin-top: 70px;

    display: flex;
}

.box-text {
    width: 560px;
    margin-top: 50px;
    padding-right: 20px;
}

.macros{
    background-color: rgb(206, 215, 255);
    width: 545px;
    padding: 25px 30px 10px 30px;
    margin-top: 157px;
    display: flex;
    justify-content: space-evenly;
}


.pic-in-box img{
    margin-top: 50px;
    margin-left: 20px;
}





.pic-in-box-left{
    background-color: rgb(227, 227, 227);
    height: 500px;
    margin-top: 70px;

    display: flex;
}


.pic-in-box-left img{
    margin-top: 50px;
    margin-left: 80px;
}



