*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(255, 255, 255);

    width: 90%;
    height: 60px;

    display: flex;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;

    box-shadow: 0px 0px 5px 1px;
    

    position: fixed;
    top: 0;

    z-index: 1;
}

body header nav a {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  body header nav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 15px;
    left: 0;
    background-color: #005aff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  body header nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

header img{
    width: 130px;
    margin-top: -10px;
}

header nav{
    display:flex;
    width: 89%;
    justify-content: right;
}


header nav a{
    text-decoration: none;

    font-family: 'Inter';
    font-size: 12pt;
    margin-left: 50px;
    margin-top: 10px;
}



main{
    margin-top: 81px;
}


.banner img{
    width: 1425px;
    margin-bottom: -4px;
    
}


.banner-text{
    padding: 20px 80px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    text-align: center;

    font-family: 'Inter';
    font-size: 28pt;
    font-weight: 400;
    

    position: relative;
    left: 490px;
    bottom: 250px;

    margin-bottom: -130px;
}


.to-box{
    height: 400px;
    display: flex;

    /*100% = 1 px for bred, side scroll*/
    width: 1425px;
}



.box-et{
    background-color: #ced7ff;
    width: 50%;

}

.box-text{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 40px;
}

.box-text h2{
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25pt;

}

.box-text h4{
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 13pt;
    line-height: 30px;
}

.box-text p{
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    line-height: 30px;
}

.cta{
    background-color: #005aff;
    border-color: #005aff;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;

    margin-left: 80px;

}

.cta:hover{
    background-color: #ced7ff;
    color: #005aff;
}

.cta:active{
    opacity: 70%;
}

.cta p{
    font-size: 12.8pt;
}



.cta-1{
    background-color: #005aff;
    border-color: #005aff;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-right: 30px;

    margin-left: 80px;
    margin-top: 40px;

}

.cta-1:hover{
    background-color: #ced7ff;
    color: #005aff;
}

.cta-1:active{
    opacity: 70%;
}

.cta-1 p{
    font-size: 12.8pt;
}



