*{
    margin: 0;
    padding: 0;
}

.shake-box p{
    background-color: #005aff;
    text-align: center;
    
    margin-left: 220px;

    padding-top: 35px;

    height: 85px;
    width: 1000px;

    position: relative;
    bottom: 60px;
    
    font-size: 30pt;
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}

.macros-banner{
    display: flex;
}

.macros-pie{
    margin-left: 304px;
    scale: 70%;
    margin-top: -45px;
}


.macros-numbers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    height: 200px;
    width: 370px;

    margin-left: 162px;

   

    
}

.t-l{
    border-bottom: 1px solid rgb(0, 0, 0);

}

.t-r{
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}



.b-r{
    border-left: 1px solid rgb(0, 0, 0);

}

.opskrift{
    display: flex;
}

.macros-numbers div h4{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20pt;

    text-align: center;

    margin-top: 25px;
}

.macros-numbers div p{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 15pt;

    text-align: center;
}

.ingredienser{
    margin-left: 220px;
    margin-top: 20px;
}

.ingredienser div p{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14pt; 
    
    height: 50px;

    padding-top: 30px;
    padding-left: 10px;

    border-bottom: 1px solid rgb(0, 0, 0);

   width: 438px;
}

.ingredienser h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20pt; 

    margin-bottom: 20px;

}


.fremgang{
    margin-left: 102px;
    margin-top: 20px;
}

.fremgang div p{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14pt; 
    
    height: 50px;

    padding-top: 30px;
    padding-left: 10px;

    border-bottom: 1px solid rgb(0, 0, 0);

    width: 438px;
}

.fremgang h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20pt; 

    margin-bottom: 20px;

}

.fremgang .long p{
    padding-top: 15px;
    padding-bottom: 15px;

}

.tips{
    margin-left: 770px;
    margin-top: -134px;
}

.tips div p{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14pt; 
    
    height: 50px;

    padding-top: 30px;
    padding-left: 10px;

    border-bottom: 1px solid rgb(0, 0, 0);

    width: 438px;
}

.tips h2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20pt; 

    margin-bottom: 20px;
}

.tips .long p{
    padding-top: 15px;
    padding-bottom: 15px;

}




 .cta-2{
    background-color: #005aff;
    border-color: #005aff;
    border-style: solid;
    border-width: 1px;
    color: white;
    padding-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;

    position: relative;
    left: 220px;
    bottom: 46px;

    font-size: 14pt;
}

.cta-2:hover{
    background-color:white;
    color: #005aff;
}

.cta-2:active{
    opacity: 70%;
}



